<!-- 328/diner/menu/breakfast-menu.html -->
<include href="views/header.html"></include>
<body>
<div class="container d-flex flex-column align-items-center justify-content-center">
    <h1>Welcome to the lunch page</h1>
    <h2>Many choices available:</h2>
    <ul>
        <li>Pizza</li>
        <li>Hotdogs</li>
        <li>Burgers</li>
    </ul>
    <img class="w-50" src="../images/lunch.jpg" alt="Image of lunch">
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>